<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav>

    <mat-nav-list (click)="sidenav.close()">

      <a mat-list-item routerLink="/">
        <mat-icon>library_books</mat-icon>
        <span>{{ KEYS.home | transKey }}</span>
      </a>

      <a mat-list-item routerLink="docs">
        <mat-icon>note</mat-icon>
        <span>{{ KEYS.documentManagement | transKey }}</span>
      </a>

      <a mat-list-item routerLink="cases">
        <mat-icon>account_balance</mat-icon>
        <span>{{ KEYS.accidentsAndCases | transKey }}</span>
      </a>

      <a mat-list-item routerLink="accounting">
        <mat-icon>account_balance_wallet</mat-icon>
        <span>{{ KEYS.paymentsAndAccounting | transKey }}</span>
      </a>

      <a mat-list-item routerLink="about">
        <mat-icon>remove_red_eye</mat-icon>
        <span>{{ KEYS.about | transKey }}</span>
      </a>

    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary">

    <button mat-icon-button (click)="sidenav.open()">
      <mat-icon>menu</mat-icon>
    </button>

  </mat-toolbar>

  <router-outlet></router-outlet>

</mat-sidenav-container>
